@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin:0px;
    box-sizing:border-box;
    font-family: 'Indie Flower', cursive;
}
.navbardiv{
    background-color: black;
    height:5rem;
    color:white;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    overflow:none;    
}

.aboutus{
    padding:1.3rem;
    
}

.foryou{
    padding:1.3rem;
    
}

.services{
    padding:1.3rem;
    
}

.blog{
    padding:1.3rem;
    
}

.vlog{
    padding:1.3rem;
    
}
.contact{
    padding:1.3rem;
}

a{
    text-decoration: none;
    color:white;
    font-size: 25px;
}


.aboutus:hover{
    background-color: aqua;
    cursor: pointer;
}

.foryou:hover{
    background-color: aqua;
    cursor: pointer;
}

.services:hover{
    background-color: aqua;
    cursor: pointer;
}

.blog:hover{
    background-color: aqua;
    cursor: pointer;
}

.vlog:hover{
    background-color: aqua;
    cursor: pointer;
}
.contact:hover{
    background-color: aqua;
    cursor: pointer;
}

.tourplacesheader{
    text-align: center;
    margin-top:5rem;
    margin-bottom:5rem;
    font-size: 2.5rem;

}